<div id="<%= dom_id page %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Page index:</strong>
    <%= page.page_index %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Preview image:</strong>
    <%#= link_to page.preview_image.filename, page.preview_image if page.preview_image.attached? %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Content:</strong>
    <pre><%= page.content %></pre>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this page", kb_document_page_path(params[:document_id], page), class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this page", edit_kb_document_page_path(params[:document_id], page), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
