<%= form_with(model: object_store, class: "contents") do |form| %>
  <% if object_store.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(object_store.errors.count, "error") %> prohibited this object_store from being saved:</h2>
      <ul>
        <% object_store.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="my-5">
    <% object_store.documents.each do |document| %>
      <%= form.hidden_field :documents, multiple: true, value: document.signed_id %>
      <%= document.filename %>
      <%= link_to "Remove", remove_document_object_store_path(document), method: :delete, data: { confirm: 'Are you sure?', turbo_method: :delete } %>
      <br/>
    <% end %>
    <%= form.label :documents, "Upload Documents" %>
    <%= form.file_field :documents, multiple: true %>
  </div>
  <div class="my-5">
    <%= form.label :content %>
    <%= form.text_area :content, rows: 4, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>
  <div class="inline">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>
  </div>
<% end %>
